PORT=3000

KAFKA_BROKERS=localhost:9092

MONGO_URI=mongodb://admin:adminpassword@localhost:27018/aeolus_db?authSource=admin
MONGO_USER=admin
MONGO_PASSWORD=adminpassword
MONGO_AUTH_SOURCE=admin

MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword
MINIO_BUCKET_NAME=camera-events

CLICKHOUSE_URL=http://127.0.0.1:8123
CLICKHOUSE_DATABASE=aeolus_analytics
CLICKHOUSE_USER=clickhouse_user
CLICKHOUSE_PASSWORD=clickhouse_pass
CLICKHOUSE_TABLE=camera_events
